@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Order Summary Instructions</h1>
    <p class="lead">Please select 
        @Html.ActionLink("By Week", "Orders", "Home", routeValues: new { id = "weekly" }, htmlAttributes: null), 
        @Html.ActionLink("By Month", "Orders", "Home", routeValues: new { id = "monthly" }, htmlAttributes: null), or
        @Html.ActionLink("By Year", "Orders", "Home", routeValues: new { id = "yearly" }, htmlAttributes: null) to see each period's chart and data.
    </p>
    <p>Thanks for using our services and enjoy!</p>
</div>

